@page "/medications"
@using CompensatoryMedicines.Services;
@using Microsoft.AspNetCore.Components.Web
@using Domain.Entities;
@using System.Text.Json;
@using System.Globalization;
@inject IMedicationService medicationService
<h1>Lista medicamentelor compensate</h1>

@if (medications == null)
{
    <p>Loading...</p>
}
else if (medications.Count == 0)
{
    <p>No medications found.</p>
}
else
{
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Denumirea comerciala (DC)</th>
                <th>Grupa maladiilor</th>
                <th>Tara</th>
                <th>Firma producatoare</th>
                <th>Cod DCI</th>
                <th>Denumirea Comuna Internationala (DCI)</th>
                <th>Doza</th>
                <th>Cod DC</th>
                <th>Suma fixa compensata per unitate de masura cu TVA</th>
                <th>Suma fixa compensata per unitate de masura fara TVA</th>
                <th>Forma farmaceutica</th>
                <th>Divizarea</th> 
                <th>Numar de inregistrare</th>
                <th>Data inregistrarii</th>
                <th>Cod ATC</th>
                <th>Cod medicament (Catalogul national de preturi)</th>
                <th>Data aprobare pret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medication in medications)
            {
                <tr>
                    <td>@medication.DenumireComerciala</td>
                    <td>@medication.GrupaMaladiilor</td>
                    <td>@medication.Tara</td>
                    <td>@medication.FirmaProducatoare</td>
                    <td>@medication.CodDCI</td>
                    <td>@medication.DenumireComunaInternationala</td>
                    <td>@medication.Doza</td>
                    <td>@medication.CodDC</td>
                    <td>@medication.SumaFixaCompensataCuTVA</td>
                    <td>@medication.SumaFixaCompensataFaraTVA</td>
                    <td>@medication.FormaFarmaceutica</td>
                    <td>@medication.Divizarea</td>
                    <td>@medication.NumarInregistrare</td>
                    <td>@medication.DataInregistrare</td>
                    <td>@medication.CodATC</td>
                    <td>@medication.CodMedicament</td>
                    <td>@medication.DataAprobarePret</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Medication>? medications;

    protected override async Task OnInitializedAsync()
    {
        medications = await medicationService.GetMedicationsAsync();
    }
}